{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Movies</a>
        <ul class="dropdown-menu">
            {% for id, data in movies %}
            <li class="dropdown-item">
                <a class="nav-link" href="{{ path('app_movie', {id}) }}">{{ data.0 }}</a>
            </li>
            {% else %}
                No movie available
            {% endfor %}
        </ul>
    </li>
</ul>

{% if current is not null %}
<ul>
    <li><strong>title: </strong>{{ current.0 }}</li>
    <li><strong>release date: </strong>{{ current.1|format_datetime('full', 'none') }}</li>
    <li><strong>genre: </strong>{{ current.2 }}</li>
</ul>
{% endif %}
{% endblock %}
